@font-face{
    font-family: acuminPRO;
    src: url(../fonts/AcuminPro-Medium.eot);
    src: url(../fonts/AcuminPro-Medium.svg);
    src: url(../fonts/AcuminPro-Medium.ttf);
    src: url(../fonts/AcuminPro-Medium.woff);
    src: url(../fonts/AcuminPro-Medium.woff2);
}