body{
    height: 2000px;
}
.header-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightcoral;
    padding: 15px;
    margin-bottom: 40px;
    z-index: 3;
}
.container{
    margin: 20px auto;
    width: 1328px;
}
.navigation-li{
    display: inline-block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.navigation-ul::after{
    content: "";
    display: block;
    clear: both;
}
.image-article{
    width: 1328px;
    margin: 0 auto;
}
.image{
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

}
